
    <footer class="main-footer">
        
        
        
        <div class="main-footer-top-bar">
            <img src="./images/logo-footer.png" class="Logo-vertical-f-negro" alt="Logo Fondo Negro"> 
            
            <nav class="Menu-Footer-resumidos">
                <ul>
                    <li> <a href="#" class="Titulo-Menu">INFORMACION UTIL</a></li>
                    <li> <a href="#" class="Titulo-Menu">AYUDA</a></li>
                    <li> <a href="#" class="Titulo-Menu">CONOCENOS</a></li>
                </ul>   
            </nav> 
            
            <nav class="Informacion-Util">
                <ul>
                    <li> <a href="#" class="Titulo-Menu">INFORMACION UTIL</a></li>
                    <li> <a href="#">Politicas de Privacidad</a></li>
                    <li> <a href="#">Medios de Pago</a></li>
                    <li> <a href="#">Protocolo Covid-19</a></li>
                    <li> <a href="#">Términos y condiciones</a></li>
                    <li> <a href="#">Defensa del Consumidor</a></li>
                </ul>   
            </nav> 
    
            <nav class="Ayuda">
                <ul>
                    <li> <a href="#" class="Titulo-Menu">AYUDA</a></li>
                    <li> <a href="#">Preguntas Frecuentes</a></li>
                    <li> <a href="#">Sucursales</a></li>
                    <li> <a href="#">Pagos</a></li>
                    <li> <a href="#">Entregas</a></li>
                    <li> <a href="#">Cambios</a></li>
                </ul>   
            </nav>

            <nav class="Conocenos">
                <ul>
                    <li> <a href="#" class="Titulo-Menu">CONOCENOS</a></li>
                    <li> <a href="#">Nuestra Historia</a></li>
                    <li> <a href="#">Trabaja con Nosotros</a></li>
                    <li> <a href="#">Contáctanos</a></li>
                    <li> <a href="#"><i class="fab fa-whatsapp"></i>11-5799-0114</a></li>
                </ul>   
            </nav>

        </div>

        <hr class="barra-h-blanca">
    
        <div class="main-footer-bottom-bar">
            
            <div class="redes-sociales">
                <ul>
                    <li> <a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li> <a href="#"><i class="fab fa-facebook-square"></i></a></li>
                    <li> <a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li> <a href="#"><i class="fab fa-youtube"></i></a></li>
                </ul>   
            </div> 
            <p class="COPYRIGHT">
                COPYRIGHT © 2021 The Argies INC. ALL RIGHTS RESERVED
            </p> 
  
                    
        </div>

        

    </footer>