<!-- FOOTER -------------------------------------------------------------------------------------------------------------->
<footer class="main-footer">

    <!-- FOOTER ** TOP BAR ------------------------------------------------------------------->
    <div class="main-footer-top-bar">

        <div class="bottom-logo">
            <a href="/">
                <img src="/images/logo-footer.png" class="Logo-vertical-f-negro" alt="Logo Fondo Negro">
            </a> 
        </div>
        
        <nav class="Menu-Footer-resumidos">
            <ul>
                <li> <a href="#" class="Titulo-Menu">INFORMACION UTIL</a></li>
                <li> <a href="#" class="Titulo-Menu">AYUDA</a></li>
                <li> <a href="#" class="Titulo-Menu">CONOCENOS</a></li>
            </ul>   
        </nav> 
        
        <div class="bottom-menus">
            <nav class="bot-men-item Informacion-Util">
                <ul>
                    <li class="bottom-titles"> <a href="#" class="Titulo-Menu">INFORMACION UTIL</a></li>
                    <li class="bottom-items"> <a href="#">Politicas de Privacidad</a></li>
                    <li class="bottom-items"> <a href="#">Medios de Pago</a></li>
                    <li class="bottom-items"> <a href="#">Protocolo Covid-19</a></li>
                    <li class="bottom-items"> <a href="#">Términos y condiciones</a></li>
                    <li class="bottom-items"> <a href="#">Defensa del Consumidor</a></li>
                </ul>   
            </nav> 
    
            <nav class="bot-men-item Ayuda">
                <ul>
                    <li class="bottom-titles"> <a href="#" class="Titulo-Menu">AYUDA</a></li>
                    <li class="bottom-items"> <a href="#">Preguntas Frecuentes</a></li>
                    <li class="bottom-items"> <a href="#">Sucursales</a></li>
                    <li class="bottom-items"> <a href="#">Pagos</a></li>
                    <li class="bottom-items"> <a href="#">Entregas</a></li>
                    <li class="bottom-items"> <a href="#">Cambios</a></li>
                </ul>   
            </nav>

            <nav class="bot-men-item Conocenos">
                <ul>
                    <li class="bottom-titles"> <a href="#" class="Titulo-Menu">CONOCENOS</a></li>
                    <li class="bottom-items"> <a href="#">Nuestra Historia</a></li>
                    <li class="bottom-items"> <a href="#">Trabaja con Nosotros</a></li>
                    <li class="bottom-items"> <a href="#">Contáctanos</a></li>
                    <li class="bottom-items"> <a href="#"><i class="fab fa-whatsapp"></i>  11-5799-0114</a></li>
                </ul>   
            </nav>
        </div>

    </div>

    <!-- division ------------------------------------->
    <div class="clear10px"></div>

    <hr class="horizontal-bar">
    
    <!-- FOOTER ** BOTTOM BAR ---------------------------------------------------------------->
    <div class="main-footer-bottom-bar">
        
        <div class="redes-sociales">
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-facebook-square"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a> 
        </div> 
        <p class="COPYRIGHT">
            COPYRIGHT © 2021 The Argies INC. ALL RIGHTS RESERVED
        </p> 

    </div>

</footer>