<header class="main-header">

       
    <div class="main-header-top-bar">
        <div class="Covid-Info">
            <img src="./images/Casaka-small-f-negro.png" class="Covid-19" alt="Covid Info">
            <p>COVID-19 INFO</p>
        </div>
        <form class="search-results" action:"/search" method="POST">   
            <input class="searchbar" id="searchbar" type="text" placeholder="Busca productos, marcas" > 
            <button type="submit"><i class="fas fa-search"></i></button>
        </form>

        
    
        <div class="dropdown">
            <button class="dropntn"><img src="./images/bandera-argentina.jpg" class="Bandera-Argentina" alt="Bandera Argentina"></button>
            <div class="dropdown-content">
                <a href="#"><img src="./images/bandera-argentina.jpg" class="Bandera-Argentina" alt="Bandera Argentina"></a>
                <a href="#"><img src="./images/bandera-inglaterra.png" class="Bandera-Inglesa" alt="Bandera Inglesa"></a>
                <a href="#"><img src="./images/bandera-brasil.png" class="Bandera-Brasil" alt="Bandera Brasilera"></a>
                <a href="#"><img src="./images/bandera-china.png" class="Bandera-China" alt="Bandera China"></a>
            </div>   
        </div> 

        <nav class="upper-top-menu">
            <ul>
                <li> <a href="#">Sobre nosotros</a></li>
                <li> <a href="#">Registrate</a></li>
                <li> <a href="#">Sign in</a></li>

            </ul>   
        </nav> 
    </div>

    <div class="main-header-bottom-bar">
        <img src="./images/Logo-horizontal-f-blanco.png" class="logo-horizontal-b" alt="logo horizontal Casaka"> 
        
        <div class="burger-menu">
            <i class="fas fa-bars"> </i>
        </div> 


        <nav class="main-menu">
            <ul>
                <li> <a href="#">Camisetas</a></li>
                <li> <a href="#">Clubes</a></li>
                <li> <a href="#">Ligas</a></li>
                <li> <a href="#">Seleccionados</a></li>
                <li> <a href="#">Coleccionables</a></li>
                <li> <a href="#">Ofertas</a></li>
                <li> <a href="#">Novedades</a></li>
            </ul>   
        </nav> 

        <nav class="lower-right-menu">
            <ul>
                <li> <a href="#" alt="Favorites"><i class="fas fa-heart"></i></a></li>
                <li> <a href="#" alt="Shopping Cart" class="shopping-cart"><i class="fas fa-shopping-cart"></i></a></li>

            </ul>   
        </nav>        
    </div>

    <nav class="main-menu-dropdown">
        <ul>
            <li> <a href="#">Camisetas</a></li>
            <li> <a href="#">Clubes</a></li>
            <li> <a href="#">Ligas</a></li>
            <li> <a href="#">Seleccionados</a></li>
            <li> <a href="#">Coleccionables</a></li>
            <li> <a href="#">Ofertas</a></li>
            <li> <a href="#">Novedades</a></li>
            <li> <a href="#">Registrate</a></li>
            <li> <a href="#">Sign in</a></li>
            <li> <a href="#">Sobre nosotros</a></li>
        </ul>   
    </nav>


</header>