<!-- HEADER -------------------------------------------------------------------------------------------------------------->
<header class="Header">
    <!-- MAIN HEADER ** TOP BAR --------------------------------------------------------------> 
    <div class="main-header-top-bar">

        <div class="top-bar-left top-bar">
            <!-- Burger Menu -->
            <input type='checkbox'>
            <div class="nav-burger-menu-left nav-burger-menu menu-button">
                <i class="fas fa-bars"></i>
            </div>
            <div class='dropdown-menu'>
                <ul class='sub-nav menu-header' id='categories-dropdown-left'>
                    <li class='general-menu'>
                        <a class='new-tag'>Camisetas</a>
                    </li>
                    <li class='general-menu'>
                        <a class='new-tag'>Clubes</a>
                    </li>
                    <li class='general-menu'>
                        <a class='new-tag'>Ligas</a>
                    </li>
                    <li class='general-menu'>
                        <a class='new-tag'>Seleccionados</a>
                    </li>
                    <li class='general-menu'>
                        <a class='new-tag'>Coleccionables</a>
                    </li>
                </ul>           
            </div>

            <div class="Covid-Info">
                <img src="/images/Casaka-small-f-negro.png" class="Covid-19" alt="Covid Info">
                <p>COVID-19 INFO</p>
            </div>
        </div>

        <div class="nav-search">
            <form class="nav-searchbar" action='/productsearch'>
                <div class="nav-left">
                    <div class="nav-search-dropdown">
                        <span class="nav-search-label">All</span>
                        <i class="fas fa-sort-down"></i>
                    </div>

                </div>
                <div class="nav-fill">
                    <input type="text" placeholder="search" class="nav-input">
                </div>
                <div class="nav-right">
                    <div class="nav-search-submit">
                        <input type="submit" class="nav-input" value="Go">
                        <i class="fas fa-search"></i>
                    </div>
                </div>
                <div id="nav-cover"></div>
            </form>
        </div>

        <div class="top-bar-right top-bar">

            <div>
                <input type='checkbox'>
                <a class="nav-burger-menu-right nav-burger-menu">
                    <i class="fas fa-bars"></i>
                </a>
                <div class='dropdown-menu'>
                    <ul class='sub-nav menu-header' id='categories-dropdown-right'>
                        <li class='general-menu'>
                            <a class='new-tag'>Camisetas</a>
                        </li>
                        <li class='general-menu'>
                            <a class='new-tag'>Clubes</a>
                        </li>
                        <li class='general-menu'>
                            <a class='new-tag'>Ligas</a>
                        </li>
                        <li class='general-menu'>
                            <a class='new-tag'>Seleccionados</a>
                        </li>
                        <li class='general-menu'>
                            <a class='new-tag'>Coleccionables</a>
                        </li>
                    </ul>           
                </div>
            </div>

            <!-- Logo top bar -->
            <div class="nav-logo nav-logo-top">
                <img src="/images/Logo-horizontal-f-blanco.png" class="logo-horizontal-b" alt="logo horizontal Casaka"> 
            </div>

            <div class="lang-button">
                <span class="lang-box">
                    <span class="lang-box-icon">
                        <span class="flag-icon flag-icon-us"></span>
                        <i class="fas fa-sort-down"></i>
                    </span>
                </span>
            </div>
        
            <div class="lang-dropdown">
                <span class="nav-item">
                    <span class="nav-text-default">Change language</span>
                </span>
                <span class="nav-item"> <!--Ingles (por defecto)-->
                    <span class="nav-text">
                        <i class="icp-radio"></i>
                        <i class="icp-radio-active"></i>
                        English - EN
                    </span>
                    <span class="flag-icon flag-icon-us"></span>
                </span>
                <div class="nav-divider"></div>
                <a href="#" class="nav-link"> <!--Español-->
                    <span class="nav-item">
                        <span class="nav-text">
                            <i class="icp-radio"></i>
                            <i class="icp-radio-active"></i>
                            Español - ES
                        </span>
                        <span class="flag-icon flag-icon-ar"></span>
                    </span>
                </a>
                <a href="#" class="nav-link"> <!--Portugues-->
                    <span class="nav-item">
                        <span class="nav-text">
                            <i class="icp-radio"></i>
                            <i class="icp-radio-active"></i>
                            Portugues - PT
                        </span>
                        <span class="flag-icon flag-icon-br"></span>
                    </span>
                </a>
                <a href="#" class="nav-link"> <!--Chino-->
                    <span class="nav-item">
                        <span class="nav-text">
                            <i class="icp-radio"></i>
                            <i class="icp-radio-active"></i>
                            简体中文 - ZH
                        </span>
                        <span class="flag-icon flag-icon-cn"></span>
                    </span>
                </a>
            </div> 

            <nav class="nav-right-menu">
                <div class="nav-right-items">
                    <div class="nav-right-item"><a href="/aboutUs">Sobre nosotros</a></div>
                    <% if (!locals.session.loggedin){ console.log('no tiene logged in')%>
                        <div class="nav-right-item"><a href="/signup">Registrate</a></div>
                        <div class="nav-right-item"><a href="/signin">Sign in</a></div>
                        <% } else{ %>
                            <div class="nav-right-item"><a href="/account">Cuenta</a></div>
                            <form action='/logout' method='POST' class='nav-right-item'>
                                <button type='submit'>Log out</button>
                            </form>
                            <% } %>
                </div>   
            </nav> 
        </div>
    </div>

    <!-- MAIN HEADER ** BOTTOM BAR -----------------------------------------------------------> 
    <div class="main-header-bottom-bar">

        <nav class="main-menu">

            <div class="nav-logo nav-logo-bottom">
                <a href="/">
                    <img src="/images/Logo-horizontal-f-blanco.png" class="logo-horizontal-b" alt="logo horizontal Casaka">
                </a> 
            </div>

            <ul class="nav-groups">

                <!--CAMISETAS-->
                <li class="nav-group">
                    <a class="nav-group-item"><span class="nav-group-text">Camisetas<i class="fas fa-sort-down header-bottom-arrow"></i></span></a>
                    <ul class="nav-group-dropdown multi-column">
                        <!--Primera columna-->
                        <ul class="product-list multi" data-type="camisetas-tipo1">
                            <li class="product-list-title title">Camisetas tipo 1</li>
                            <li class="product-list-item">
                                <a>Camiseta1</a>
                            </li>
                            <li class="product-list-item">
                                <a>Camiseta2</a>
                            </li>
                            <li class="product-list-item">
                                <a>Camiseta3</a>
                            </li>
                            <li class="product-list-item">
                                <a>Camiseta4</a>
                            </li>
                            <li class="product-list-item">
                                <a>Camiseta5</a>
                            </li>
                            <li class="product-list-item">
                                <a>Camiseta6</a>
                            </li>
                            <li class="product-list-item">
                                <a>Camiseta7</a>
                            </li>
                            <li class="product-list-item">
                                <a>Camiseta8</a>
                            </li>
                            <li class="product-list-item">
                                <a>Camiseta9</a>
                            </li>
                            <li class="product-list-item">
                                <a>Camiseta10</a>
                            </li>
                        </ul>
                        <!--Segunda columna-->
                        <ul class="product-list multi" data-type="camisetas-tipo2">
                            <li class="product-list-title title">Camisetas tipo 2</li>
                            <li class="product-list-item">
                                <a>Camiseta1</a>
                            </li>
                            <li class="product-list-item">
                                <a>Camiseta2</a>
                            </li>
                            <li class="product-list-item">
                                <a>Camiseta3</a>
                            </li>
                            <li class="product-list-item">
                                <a>Camiseta4</a>
                            </li>
                            <li class="product-list-item">
                                <a>Camiseta5</a>
                            </li>
                            <li class="product-list-item">
                                <a>Camiseta6</a>
                            </li>
                            <li class="product-list-item">
                                <a>Camiseta7</a>
                            </li>
                            <li class="product-list-item">
                                <a>Camiseta8</a>
                            </li>
                            <li class="product-list-item">
                                <a>Camiseta9</a>
                            </li>
                            <li class="product-list-item">
                                <a>Camiseta10</a>
                            </li>
                        </ul>
                        <!--Tercer columna-->
                        <ul class="product-list multi" data-type="camisetas-tipo3">
                            <li class="product-list-title title">Camisetas tipo 3</li>
                            <li class="product-list-item">
                                <a>Camiseta1</a>
                            </li>
                            <li class="product-list-item">
                                <a>Camiseta2</a>
                            </li>
                            <li class="product-list-item">
                                <a>Camiseta3</a>
                            </li>
                            <li class="product-list-item">
                                <a>Camiseta4</a>
                            </li>
                            <li class="product-list-item">
                                <a>Camiseta5</a>
                            </li>
                            <li class="product-list-item">
                                <a>Camiseta6</a>
                            </li>
                            <li class="product-list-item">
                                <a>Camiseta7</a>
                            </li>
                            <li class="product-list-item">
                                <a>Camiseta8</a>
                            </li>
                            <li class="product-list-item">
                                <a>Camiseta9</a>
                            </li>
                            <li class="product-list-item">
                                <a>Camiseta10</a>
                            </li>
                        </ul>
                        <!--Fila inferior con articulos-->
                        <ul class="article-list">
                            <li class="article-list-title title">For your Inspiration</li>
                            <li class="article-list-item">Are You Really A Millenial? check any jersey on social media</li>
                            <li class="article-list-item">The Latest Trend: Getting your favorite jersey signed</li>
                            <li class="article-list-item">5 things you didnt know about your favorite team jersey</li>
                        </ul>
                        <!--Imágenes de titulos-->
                        <img src='/images/national-jerseys.jpeg' class="product-image" data-match="camisetas-tipo1">
                        <img src='/images/signed-jerseys.jpeg' class="product-image" data-match="camisetas-tipo2">
                        <img src='/images/Authentic-jerseys.jpeg' class="product-image" data-match="camisetas-tipo3">
                    </ul>
                </li>   <!-- ^ Cammisetas ^ -->

                <!--CLUBES-->
                <li class="nav-group">
                    <a class="nav-group-item"><span class="nav-group-text">Clubes<i class="fas fa-sort-down header-bottom-arrow"></i></span></a>
                    <ul class="nav-group-dropdown multi-column">
                        <!--Primera columna-->
                        <ul class="product-list multi">
                            <li class="product-list-title title">Clubes tipo 1</li>
                            <li class="product-list-item">
                                <a>Clubes1</a>
                            </li>
                            <li class="product-list-item">
                                <a>Clubes2</a>
                            </li>
                            <li class="product-list-item">
                                <a>Clubes3</a>
                            </li>
                            <li class="product-list-item">
                                <a>Clubes4</a>
                            </li>
                            <li class="product-list-item">
                                <a>Clubes5</a>
                            </li>
                            <li class="product-list-item">
                                <a>Clubes6</a>
                            </li>
                            <li class="product-list-item">
                                <a>Clubes7</a>
                            </li>
                            <li class="product-list-item">
                                <a>Clubes8</a>
                            </li>
                            <li class="product-list-item">
                                <a>Clubes9</a>
                            </li>
                            <li class="product-list-item">
                                <a>Clubes10</a>
                            </li>
                        </ul>
                        <!--Segunda columna-->
                        <ul class="product-list multi">
                            <li class="product-list-title title">Clubes tipo 2</li>
                            <li class="product-list-item">
                                <a>Clubes1</a>
                            </li>
                            <li class="product-list-item">
                                <a>Clubes2</a>
                            </li>
                            <li class="product-list-item">
                                <a>Clubes3</a>
                            </li>
                            <li class="product-list-item">
                                <a>Clubes4</a>
                            </li>
                            <li class="product-list-item">
                                <a>Clubes5</a>
                            </li>
                            <li class="product-list-item">
                                <a>Clubes6</a>
                            </li>
                            <li class="product-list-item">
                                <a>Clubes7</a>
                            </li>
                            <li class="product-list-item">
                                <a>Clubes8</a>
                            </li>
                            <li class="product-list-item">
                                <a>Clubes9</a>
                            </li>
                            <li class="product-list-item">
                                <a>Clubes10</a>
                            </li>
                        </ul>
                        <!--Tercer columna-->
                        <ul class="product-list multi">
                            <li class="product-list-title title">Clubes tipo 3</li>
                            <li class="product-list-item">
                                <a>Clubes1</a>
                            </li>
                            <li class="product-list-item">
                                <a>Clubes2</a>
                            </li>
                            <li class="product-list-item">
                                <a>Clubes3</a>
                            </li>
                            <li class="product-list-item">
                                <a>Clubes4</a>
                            </li>
                            <li class="product-list-item">
                                <a>Clubes5</a>
                            </li>
                            <li class="product-list-item">
                                <a>Clubes6</a>
                            </li>
                            <li class="product-list-item">
                                <a>Clubes7</a>
                            </li>
                            <li class="product-list-item">
                                <a>Clubes8</a>
                            </li>
                            <li class="product-list-item">
                                <a>Clubes9</a>
                            </li>
                            <li class="product-list-item">
                                <a>Clubes10</a>
                            </li>
                        </ul>
                        <ul class="article-list">
                            <li class="article-list-title title">For your Inspiration</li>
                            <li class="article-list-item">Dis you know some teams have custom-made jerseys?</li>
                            <li class="article-list-item">The club that sold all his jerseys one year in advance</li>
                            <li class="article-list-item">Check all your favorite clubs statistics facts<%=  %> </li>
                        </ul>
                    </ul>
                </li>   <!-- ^ Clubes ^ -->

                <!--LIGAS-->
                <li class="nav-group">
                    <a class="nav-group-item"><span class="nav-group-text">Ligas<i class="fas fa-sort-down header-bottom-arrow"></i></span></a>
                    <ul class="nav-group-dropdown multi-column">
                        <!--Primera columna-->
                        <ul class="product-list multi">
                            <li class="product-list-title title">Ligas tipo 1</li>
                            <li class="product-list-item">
                                <a>Ligas1</a>
                            </li>
                            <li class="product-list-item">
                                <a>Ligas2</a>
                            </li>
                            <li class="product-list-item">
                                <a>Ligas3</a>
                            </li>
                            <li class="product-list-item">
                                <a>Ligas4</a>
                            </li>
                            <li class="product-list-item">
                                <a>Ligas5</a>
                            </li>
                            <li class="product-list-item">
                                <a>Ligas6</a>
                            </li>
                            <li class="product-list-item">
                                <a>Ligas7</a>
                            </li>
                            <li class="product-list-item">
                                <a>Ligas8</a>
                            </li>
                            <li class="product-list-item">
                                <a>Ligas9</a>
                            </li>
                            <li class="product-list-item">
                                <a>Ligas10</a>
                            </li>
                        </ul>
                        <!--Segunda columna-->
                        <ul class="product-list multi">
                            <li class="product-list-title title">Ligas tipo 2</li>
                            <li class="product-list-item">
                                <a>Ligas1</a>
                            </li>
                            <li class="product-list-item">
                                <a>Ligas2</a>
                            </li>
                            <li class="product-list-item">
                                <a>Ligas3</a>
                            </li>
                            <li class="product-list-item">
                                <a>Ligas4</a>
                            </li>
                            <li class="product-list-item">
                                <a>Ligas5</a>
                            </li>
                            <li class="product-list-item">
                                <a>Ligas6</a>
                            </li>
                            <li class="product-list-item">
                                <a>Ligas7</a>
                            </li>
                            <li class="product-list-item">
                                <a>Ligas8</a>
                            </li>
                            <li class="product-list-item">
                                <a>Ligas9</a>
                            </li>
                            <li class="product-list-item">
                                <a>Ligas10</a>
                            </li>
                        </ul>
                        <!--Tercer columna-->
                        <ul class="product-list multi">
                            <li class="product-list-title title">Ligas tipo 3</li>
                            <li class="product-list-item">
                                <a>Ligas1</a>
                            </li>
                            <li class="product-list-item">
                                <a>Ligas2</a>
                            </li>
                            <li class="product-list-item">
                                <a>Ligas3</a>
                            </li>
                            <li class="product-list-item">
                                <a>Ligas4</a>
                            </li>
                            <li class="product-list-item">
                                <a>Ligas5</a>
                            </li>
                            <li class="product-list-item">
                                <a>Ligas6</a>
                            </li>
                            <li class="product-list-item">
                                <a>Ligas7</a>
                            </li>
                            <li class="product-list-item">
                                <a>Ligas8</a>
                            </li>
                            <li class="product-list-item">
                                <a>Ligas9</a>
                            </li>
                            <li class="product-list-item">
                                <a>Ligas10</a>
                            </li>
                        </ul>
                        <ul class="article-list">
                            <li class="article-list-title title">For your Inspiration</li>
                            <li class="article-list-item">Check the results of your national league</li>
                            <li class="article-list-item">The things you didn't know about your local league</li>
                            <li class="article-list-item">Funny quiz to check your knowledge about your local league</li>
                        </ul>
                    </ul>
                </li>   <!-- ^ Ligas ^ -->

                <!--SELECCIONADOS-->
                <li class="nav-group">
                    <a class="nav-group-item"><span class="nav-group-text">Seleccionados<i class="fas fa-sort-down header-bottom-arrow"></i></span></a>
                    <ul class="nav-group-dropdown multi-column">
                        <!--Primera columna-->
                        <ul class="product-list multi">
                            <li class="product-list-title title">Seleccionados tipo 1</li>
                            <li class="product-list-item">
                                <a>Seleccionados1</a>
                            </li>
                            <li class="product-list-item">
                                <a>Seleccionados2</a>
                            </li>
                            <li class="product-list-item">
                                <a>Seleccionados3</a>
                            </li>
                            <li class="product-list-item">
                                <a>Seleccionados4</a>
                            </li>
                            <li class="product-list-item">
                                <a>Seleccionados5</a>
                            </li>
                            <li class="product-list-item">
                                <a>Seleccionados6</a>
                            </li>
                            <li class="product-list-item">
                                <a>Seleccionados7</a>
                            </li>
                            <li class="product-list-item">
                                <a>Seleccionados8</a>
                            </li>
                            <li class="product-list-item">
                                <a>Seleccionados9</a>
                            </li>
                            <li class="product-list-item">
                                <a>Seleccionados10</a>
                            </li>
                        </ul>
                        <!--Segunda columna-->
                        <ul class="product-list multi">
                            <li class="product-list-title title">Seleccionados tipo 2</li>
                            <li class="product-list-item">
                                <a>Seleccionados1</a>
                            </li>
                            <li class="product-list-item">
                                <a>Seleccionados2</a>
                            </li>
                            <li class="product-list-item">
                                <a>Seleccionados3</a>
                            </li>
                            <li class="product-list-item">
                                <a>Seleccionados4</a>
                            </li>
                            <li class="product-list-item">
                                <a>Seleccionados5</a>
                            </li>
                            <li class="product-list-item">
                                <a>Seleccionados6</a>
                            </li>
                            <li class="product-list-item">
                                <a>Seleccionados7</a>
                            </li>
                            <li class="product-list-item">
                                <a>Seleccionados8</a>
                            </li>
                            <li class="product-list-item">
                                <a>Seleccionados9</a>
                            </li>
                            <li class="product-list-item">
                                <a>Seleccionados10</a>
                            </li>
                        </ul>
                        <!--Tercer columna-->
                        <ul class="product-list multi">
                            <li class="product-list-title title">Seleccionados tipo 3</li>
                            <li class="product-list-item">
                                <a>Seleccionados1</a>
                            </li>
                            <li class="product-list-item">
                                <a>Seleccionados2</a>
                            </li>
                            <li class="product-list-item">
                                <a>Seleccionados3</a>
                            </li>
                            <li class="product-list-item">
                                <a>Seleccionados4</a>
                            </li>
                            <li class="product-list-item">
                                <a>Seleccionados5</a>
                            </li>
                            <li class="product-list-item">
                                <a>Seleccionados6</a>
                            </li>
                            <li class="product-list-item">
                                <a>Seleccionados7</a>
                            </li>
                            <li class="product-list-item">
                                <a>Seleccionados8</a>
                            </li>
                            <li class="product-list-item">
                                <a>Seleccionados9</a>
                            </li>
                            <li class="product-list-item">
                                <a>Seleccionados10</a>
                            </li>
                        </ul>
                        <ul class="article-list">
                            <li class="article-list-title title">For your Inspiration</li>
                            <li class="article-list-item">Latest news on who's gonna be in te national team next year</li>
                            <li class="article-list-item">Check the possible designs for next year</li>
                            <li class="article-list-item">Things you should know about FIFA</li>
                        </ul>
                    </ul>
                </li>   <!-- ^ Seleccionados ^ -->

                <!--COLECCIONABLES-->
                <li class="nav-group">
                    <a class="nav-group-item"><span class="nav-group-text">Coleccionables</span><i class="fas fa-sort-down header-bottom-arrow"></i></a>
                    <ul class="nav-group-dropdown multi-column">
                        <!--Primera columna-->
                        <ul class="product-list multi">
                            <li class="product-list-title title">Coleccionables tipo 1</li>
                            <li class="product-list-item">
                                <a>Coleccionables1</a>
                            </li>
                            <li class="product-list-item">
                                <a>Coleccionables2</a>
                            </li>
                            <li class="product-list-item">
                                <a>Coleccionables3</a>
                            </li>
                            <li class="product-list-item">
                                <a>Coleccionables4</a>
                            </li>
                            <li class="product-list-item">
                                <a>Coleccionables5</a>
                            </li>
                            <li class="product-list-item">
                                <a>Coleccionables6</a>
                            </li>
                            <li class="product-list-item">
                                <a>Coleccionables7</a>
                            </li>
                            <li class="product-list-item">
                                <a>Coleccionables8</a>
                            </li>
                            <li class="product-list-item">
                                <a>Coleccionables9</a>
                            </li>
                            <li class="product-list-item">
                                <a>Coleccionables10</a>
                            </li>
                        </ul>
                        <!--Segunda columna-->
                        <ul class="product-list multi">
                            <li class="product-list-title title">Coleccionables tipo 2</li>
                            <li class="product-list-item">
                                <a>Coleccionables1</a>
                            </li>
                            <li class="product-list-item">
                                <a>Coleccionables2</a>
                            </li>
                            <li class="product-list-item">
                                <a>Coleccionables3</a>
                            </li>
                            <li class="product-list-item">
                                <a>Coleccionables4</a>
                            </li>
                            <li class="product-list-item">
                                <a>Coleccionables5</a>
                            </li>
                            <li class="product-list-item">
                                <a>Coleccionables6</a>
                            </li>
                            <li class="product-list-item">
                                <a>Coleccionables7</a>
                            </li>
                            <li class="product-list-item">
                                <a>Coleccionables8</a>
                            </li>
                            <li class="product-list-item">
                                <a>Coleccionables9</a>
                            </li>
                            <li class="product-list-item">
                                <a>Coleccionables10</a>
                            </li>
                        </ul>
                        <!--Tercer columna-->
                        <ul class="product-list multi">
                            <li class="product-list-title title">Coleccionables tipo 3</li>
                            <li class="product-list-item">
                                <a>Coleccionables1</a>
                            </li>
                            <li class="product-list-item">
                                <a>Coleccionables2</a>
                            </li>
                            <li class="product-list-item">
                                <a>Coleccionables3</a>
                            </li>
                            <li class="product-list-item">
                                <a>Coleccionables4</a>
                            </li>
                            <li class="product-list-item">
                                <a>Coleccionables5</a>
                            </li>
                            <li class="product-list-item">
                                <a>Coleccionables6</a>
                            </li>
                            <li class="product-list-item">
                                <a>Coleccionables7</a>
                            </li>
                            <li class="product-list-item">
                                <a>Coleccionables8</a>
                            </li>
                            <li class="product-list-item">
                                <a>Coleccionables9</a>
                            </li>
                            <li class="product-list-item">
                                <a>Coleccionables10</a>
                            </li>
                        </ul>
                        <ul class="article-list">
                            <li class="article-list-title title">For your Inspiration</li>
                            <li class="article-list-item">Thought you wouldn't find that special jersey? Think again!</li>
                            <li class="article-list-item">All the available non branded jerseys going on</li>
                            <li class="article-list-item">The jersey Maradona used to wear every day!</li>
                        </ul>
                    </ul>
                </li>   <!-- ^ Coleccionables ^ -->
            </ul>
            
            <div class="main-menu-right">
                <a href="#" alt="Favorites"><i class="fas fa-heart"></i></a>
                <div class='cart'>
                    <a href="#" alt="Shopping Cart" class='cart-header'><i class="fas fa-shopping-cart" id="shopping-cart-top-menu"></i></a>
                    <!-- SHOPPING CART (Menu desplegable) -->
                    <% if (locals.session.loggedin){ %>
                        <div class='cart-content'>
                            <div class='cart-indent'>
                                <ol id='cart-sidebar' class='mini-products-list'>

                                    <li class='cart-item'>
                                        <div class='product-control-buttons'>
                                            <a title='quitar' class='btn-remove'></a>
                                        </div>
                                        <span class='cart-product-image'>
                                            <div class='center'>
                                                <img src='/images/camiseta3.jpeg'>
                                            </div>
                                        </span>
                                        <p class='cart-product-name'>AC MILAN 21/22 HOME JERSEY BY PUMA</p>
                                        <div class='cart-product-details'>
                                            <strong>2</strong>
                                            x 
                                            <span class='price'>ARS$ 9.200</span>
                                        </div>
                                    </li>
                                    <li class='cart-item'>
                                        <div class='product-control-buttons'>
                                            <a title='quitar' class='btn-remove'></a>
                                        </div>
                                        <span class='cart-product-image'>
                                            <div class='center'>
                                                <img src='/images/camiseta2.jpeg'>
                                            </div>
                                        </span>
                                        <p class='cart-product-name'>INTER MILAN 21/22 AUTHENTIC HOME JERSEY</p>
                                        <div class='cart-product-details'>
                                            <strong>1</strong>
                                            x 
                                            <span class='price'>ARS$ 6.332</span>
                                        </div>
                                    </li>
                                    <li class='cart-item'>
                                        <div class='product-control-buttons'>
                                            <a title='quitar' class='btn-remove'></a>
                                        </div>
                                        <span class='cart-product-image'>
                                            <div class='center'>
                                                <img src='/images/camiseta1.jpeg'>
                                            </div>
                                        </span>
                                        <p class='cart-product-name'>IJUVENTUS 21/22 AUTHENTIC HOME JERSEY</p>
                                        <div class='cart-product-details'>
                                            <strong>3</strong>
                                            x 
                                            <span class='price'>ARS$ 5.461</span>
                                        </div>
                                    </li>

                                </ol>
                                <p class='subtotal'>
                                    <span class='label'>Subtotal del carrito:</span>
                                    <span class='price'>ARS$ 41.115</span>
                                </p>
                                <div class='actions'>
                                    <a href='/cart'>
                                        <button type='button' title='Ver carrito' class='button btn-cart'>
                                            <span>
                                                <span>Ver carrito</span>
                                            </span>
                                        </button>
                                    </a>
                                    <button type='button' title='Finalizar compra' class='button btn-checkout'>
                                        <span>
                                            <span>Finalizar compra</span>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>

        </nav>

    </div>

</header>

<div class="clear10px"></div>