<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('./partials/head.ejs',{titulo:"about-us",stylesFile:"aboutUs.css"}) %>
<body>
    <!-- Header -->
    <%- include('./partials/header v2.ejs') %>
    
    
<!-- About Us -->

<main class='main-content wrapper'>
    <div class="general story-page">
        <!-- BANNER -->
        <div class="background-cover">
            <div class="inner-background">
                <div class="inner-wrapper">
                    <div class="story-title">
                        <h1 class="c1">
                            Nuestra historia
                        </h1>
                        <nav>
                            <ol class="index init cW" id="index-ol">
                                <li><a class="cW" href="#whoWeAre">Quienes somos</a></li>
                                <li><a class="cW" href="#purpose">Proposito</a></li>
                                <li><a class="cW" href="#ourMission">Mision</a></li>
                                <li><a class="cW" href="#origins">Origenes</a></li>
                                <li><a class="cW" href="#envResponsability">Responsabilidad</a></li>
                                <li><a class="cW" href="#theTeam">El equipo</a></li>
                    
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- CONTENT -->
        <div class="story-content">
            <!-- 01 Quienes Somos -->
                <!-- Header -->
                <div class="inner-wrapper pad-top" id="whoWeAre">
                    <div>
                        <span class="chapter">
                            01
                        </span>
                    </div>
                    <div class="span12">
                        <h2>
                            Somos Cazaca
                        </h2>
                    </div>
                    <div class="span12">
                        <p>
                            Nos dedicamos a vender las mejores camisetas del mercado...
                        </p>
                    </div>
                </div>
                <!-- Body -->
                <div class="inner-wrapper pad-top full-width-mobile">
                    <div class="mm-container">
                        <div>
                            <img src="/images/team01.jpg">
                        </div>
                    </div>
                </div>
            <!-- 02 Nuestro Proposito -->
                <!-- Header -->
                <div class="inner-wrapper pad-top pad-bottom" id="purpose">
                    <div>
                        <span class="chapter">
                            02
                        </span>
                    </div>
                    <div class="span12">
                        <h2>
                            Nuestro proposito
                        </h2>
                    </div>
                    <div class="span12">
                        <p>
                            El propósito de Cazaca es crear mejores vidas....
                        </p>
                    </div>
                </div>
            <!-- 03 Nuestra mision -->
                <!-- Header -->
                <div class="outer-wrapper mission" id="ourMission">
                    <div class="inner-background-mission">
                        <div class="inner-wrapper pad-top pad-bottom clearfix">
                            <div class="span12 push7">
                                <span class="chapter cW">03</span>
                                <h2 class="cW">Nuestra mision</h2>
                                <ol class="init cW">
                                    <li>Hacer lo mejor</li>
                                    <li>Conseguir lo mejor</li>
                                    <li>Tratar a nuestros clientes como familia</li>
                                    <li>Inspirar a la gente</li>
                                    <li>Entregar felicidad</li>
                                </ol>
                                 <a class="button button-2a">Más info</a>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- 04 Origenes -->
                <!-- Header -->
                <div class="inner-wrapper pad-top pad-bottom clearfix" id="origins">
                    <div class="span12">
                        <img src="/images/firstProject.jpg" alt="origins">
                    </div>
                    <div class="span12">
                        <span class="chapter">04</span>
                        <h2>Origenes</h2>
                        <p>En Enero 2021 surgió una idea .... </p>
                        <p>Así fue como unidos por un objetivo comun, desafiando las leyes de la física .... </p>
                    </div>     
                </div>
            <!-- 05 Responsabilidad -->
                <!-- Header -->
                <div class="outer-wrapper responsability" id="envResponsability">
                    <div class="inner-background">
                        <div class="inner-wrapper pad-top pad-bottom clearfix">
                            <div class="span12 push6">
                                <span class="chapter cW">05</span>
                                <h2 class="cW">Responsabilidad</h2>
                                <p class="cW">
                                    En Cazaca priorizamos la gente y el planet antes que las ganancias,
                                    y asumimos la responsabilidad de cumplir con este objetivo en todas 
                                    las decisiones que tomamos. 
                                    Creemos que una compañia responsable es una compañia sustentable.
                                </p>
                                <p class="cW">
                                    Adherimos completamente al pacto climático de cero emision de carbono 
                                    y somos miembros fundadores de AIRE PURO. Damos el 5% de nuestras ganancias
                                    a empresas ambientales sin fines de lucro. Cumplimos con los más altos 
                                    estandares de politica social y ambiental, transparencia, y responsabilidad.
                                </p>
                                <p class="margin-top-lg">
                                    <a href="#" class="button button-2a">Más info</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- 06 El equipo -->
                <!-- Header -->
                <div class="inner-wrapper pad-top pad-bottom clearfix" id="theTeam">
                    <div class="span12">
                        <span class="chapter">06</span>
                        <h2>El equipo</h2>
                        <p>
                            Saluda a todo nuestro equipo Cazaca. Si quieres unirte te invitamos a hacerlo 
                            en nuestra 
                            <a class='link'>pagina de carrera</a>
                            . 
                        </p>
                    </div>
                    <section class="team span24 margin-top-lg">
                        <article class="grid-item">
                            <img src="/images/MR.jpg" alt="Matias Rainero">
                            <p>
                                <span class="bold c2">Matías Rainero</span>
                                <span>CoFundador & CEO</span>
                            </p>
                        </article>
                        <article class="grid-item">
                            <img src="/images/Tomas.jpg" alt="Tomas Heguy" style="height: 300px">
                            <p>
                                <span class="bold c2">Tomas Heguy</span>
                                <span>CoFundador & CFO</span>
                            </p>
                        </article>
                        <article class="grid-item">
                            <img src="/images/no-profile.jpg" alt="Leandro Bortoluzzi" style="height: 300px">
                            <p>
                                <span class="bold c2">Leandro Bortoluzzi</span>
                                <span>CoFundador & Logistics</span>
                            </p>
                        </article>
                        <article class="grid-item">
                            <img src="/images/Denis.jpg" alt="Denis Jang" style="height: 300px">
                            <p>
                                <span class="bold c2">Denis Jang</span>
                                <span>CoFundador & Sales Manager</span>
                            </p>
                        </article>
                    </section>
                </div>
        </div>
    </div>
</main>

    <!-- Footer -->
    <%- include('./partials/footer v2.ejs') %>

</body>

</html>