<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <title>Cazaka Frame</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="./css/styles.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
    <script src="https://kit.font-awesome.com/e32b1dc814.js" crossorigin="anonymous"></script>

    

</head>
<body>
    <header class="main-header">
        
        <div class="main-header-top-bar">
            <img scr="" class="Covid-info" alt="Covid Info"> 
        
        
            <div>
                <p class="search"><input value="Busca productos, marcas"> <i class="fas fa-search"></i></p>
            </div>
        
            <nav class="Language">
                <ul>
                    <li> <a href="#">Español</a></li>
                    <li> <a href="#">English</a></li>
                    <li> <a href="#">Portugueis</a></li>
                    <li> <a href="#">Mandarin</a></li>
                </ul>   
            </nav> 

            <nav class="upper-top-menu">
                <ul>
                    <li> <a href="#">Argies</a></li>
                    <li> <a href="#">Creators Club</a></li>
                    <li> <a href="#">Sign in</a></li>

                </ul>   
            </nav> 
        </div>

        <div class="main-header-bottom-bar">
            <img scr="./images/Logo-horizontal-f-blanco.png" class="logo-horizontal-b" alt="logo horizontal Casaka"> 
        
            <nav class="main-menu">
                <ul>
                    <li> <a href="#">Jerseys</a></li>
                    <li> <a href="#">Clubs</a></li>
                    <li> <a href="#">Leagues</a></li>
                    <li> <a href="#">National Teams</a></li>
                    <li> <a href="#">Collectables</a></li>
                    <li> <a href="#">Clearence</a></li>
                    <li> <a href="#">New Arrivals</a></li>
                </ul>   
            </nav> 

            <nav class="lower-rigt-menu">
                <ul>
                    <li> <a href="#" alt="Favorites"></a></li>
                    <li> <a href="#" alt="Shopping Cart">Creators Club</a></li>

                </ul>   
            </nav>        
        </div>




    </header>






</body>
</html>