<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->

    <!-- vinculacion a libreria de estilos-->
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/styles.css">

    <!--viculacion a pagina con íconos-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
    <title>Cazaka home</title>
    

</head>
<body>
<header>
    <div class="barraFunciones">
        <div class="covidLogo">
        <img width="40" src="images/Logo-vertical-f-negro.png">
        <p>covid-19 preguntas frecuentes</p>
        </div>
    <div class="busqueda">
        <input type="text" placeholder="Search...">
    </div>
    <div class="cuenta">
        <a style="color:white" href="*">Argies</a>
        <a style="color:white" href="*">Creators club</a>
        <a style="color:white" href="*">Sing in</a>
    </div>
    </div>
    <div class="barraOpciones">
    <div class="logoCazaka">
        <img width="150" src="images/Logo-horizontal-f-blanco.png">
    </div>
    <div class="opciones">
        <a style="color:black" href="*">Jerseys</a>
        <a style="color:black" href="*">Clubs</a>
        <a style="color:black" href="*">Leagues</a>
        <a style="color:black" href="*">National teams</a>
        <a style="color:black" href="*">Collectables</a>
        <a style="color:black" href="*">Clearance</a>
        <a style="color:black" href="*">New arrivals</a>
    </div>
    <div>
        <i class="fas fa-shopping-cart"></i>
    </div>
    </div>
</header>
<main>
<section class="pickedForYou">
    <h3 class="titulares">Picked for you</h3>
    <div class="articulos">
        <article>
            <div>
            <img width="200" src="images/camiseta1.jpeg">
        </div>
        <div class="rating">
            <img width="70" src="images/rating-stars.png">
        </div>
            <div class="descripcion">
                <p class="equipo">JUVENTUS 21/22 HOME JERSEY</p>
                <p class="precio">$89.99</p>
            </div>
        </article>
        <article>
            <div>
            <img width="200" src="images/camiseta2.jpeg">
        </div>
        <div class="rating">
            <img width="70" src="images/rating-stars.png">
        </div>
            <div class="descripcion">
                <p class="equipo">INTER MILAN 21/22 HOME JERSEY</p>
                <p class="precio">$89.99</p>
            </div>
        </article>
        <article>
            <div>
            <img width="200" src="images/camiseta3.jpeg">
        </div>
        <div class="rating">
            <img width="70" src="images/rating-stars.png">
        </div>
            <div class="descripcion">
                <p class="equipo">AC MILAN 21/22 HOME JERSEY</p>
                <p class="precio">$89.99</p>
            </div>
        </article>
        <article>
            <div>
            <img width="200" src="images/Camiseta4.jpeg">
        </div>
        <div class="rating">
            <img width="70" src="images/rating-stars.png">
        </div>
            <div class="descripcion">
                <p class="equipo">MANCHESTER UNITED 21/22 SECOND JERSEY</p>
                <p class="precio">$89.99</p>
            </div>
        </article>
    </div>
</section>
<section class="mostSold">
    <h3 class="titulares">Most Sold</h3>
    <div class="articulos">
        <article>
            <div>
            <img width="200" src="images/camiseta5.jpeg">
        </div>
        <div class="rating">
            <img width="70" src="images/rating-stars.png">
        </div>
            <div class="descripcion">
                <p class="equipo">ITALY EURO 20/21 HOME JERSEY</p>
                <p class="precio">$89.99</p>
            </div>
        </article>
        <article>
            <div>
            <img width="200" src="images/camiseta6.jpeg">
        </div>
        <div class="rating">
            <img width="70" src="images/rating-stars.png">
        </div>
            <div class="descripcion">
                <p class="equipo">ARSENAL TRAINING JERSEY 21/22</p>
                <p class="precio">$89.99</p>
            </div>
        </article>
        <article>
            <div>
            <img width="200" src="images/camiseta7.jpeg">
        </div>
        <div class="rating">
            <img width="70" src="images/rating-stars.png">
        </div>
            <div class="descripcion">
                <p class="equipo">ARSENAL 21/22 AUTHENTIC HOME JERSEY</p>
                <p class="precio">$89.99</p>
            </div>
        </article>
        <article>
            <div>
            <img width="200" src="images/Camiseta8.jpeg">
        </div>
        <div class="rating">
            <img width="70" src="images/rating-stars.png">
        </div>
            <div class="descripcion">
                <p class="equipo">MANCHESTER UNITED 21/22 THIRD JERSEY</p>
                <p class="precio">$89.99</p>
            </div>
        </article>
    </div>
</section>
</main>
<footer class="main-footer">
        
        
        
    <div class="main-footer-top-bar">
        <img src="./images/Casaka-small-f-negro.png" class="Logo-vertical-f-negro" alt="Logo Fondo Negro">
        
        <nav class="Informacion-Util">
            <ul>
                <li> <a href="#" class="Titulo-Menu">INFORMACION UTIL</a></li>
                <li> <a href="#">Politicas de Privacidad</a></li>
                <li> <a href="#">Medios de Pago</a></li>
                <li> <a href="#">Protocolo Covid-19</a></li>
                <li> <a href="#">Términos y condiciones</a></li>
                <li> <a href="#">Defensa del Consumidor</a></li>
            </ul>   
        </nav> 

        <nav class="Ayuda">
            <ul>
                <li> <a href="#" class="Titulo-Menu">AYUDA</a></li>
                <li> <a href="#">Preguntas Frecuentes</a></li>
                <li> <a href="#">Sucursales</a></li>
                <li> <a href="#">Pagos</a></li>
                <li> <a href="#">Entregas</a></li>
                <li> <a href="#">Cambios</a></li>
            </ul>   
        </nav>

        <nav class="Conocenos">
            <ul>
                <li> <a href="#" class="Titulo-Menu">CONOCENOS</a></li>
                <li> <a href="#">Nuestra Historia</a></li>
                <li> <a href="#">Trabaja con Nosotros</a></li>
                <li> <a href="#">Contáctanos</a></li>
                <li> <a href="#"><i class="fab fa-whatsapp"></i>11-5799-0114</a></li>
            </ul>   
        </nav>

    </div>

    <div class="main-footer-bottom-bar">
        
        <nav class="redes-sociales">
            <ul>
                <li> <a href="#"><i class="fab fa-instagram"></i></a></li>
                <li> <a href="#"><i class="fab fa-facebook-square"></i></a></li>
                <li> <a href="#"><i class="fab fa-twitter"></i></a></li>
                <li> <a href="#"><i class="fab fa-youtube"></i></a></li>
            </ul>   
        </nav> 
        <p class="COPYRIGHT">
            COPYRIGHT © 2021 The Argies INC. ALL RIGHTS RESERVED
        </p> 

                
    </div>

    

</footer>




</body>
</html>

