<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs',{titulo:"Home"}) %>


<body>
    <!-- Header -->
    <%- include('./partials/header.ejs') %>


<main>

    <link rel="stylesheet" href="./css/styles.css">
    
    <div class="banner">
        <img width=100% src="images/chelseabanner.JPG">
    </div>
    <div class="banners">
        <div class="filauno">
            <img class="novedades" src="images/spurs.JPG">
            <img class="novedades" src="images/unitedbaner.JPG">
        </div>
        <div class="filauno">
            <img class="novedades" src="images/mexicobanner.JPG">
            <img class="novedades" src="images/estadosunidosbanner.JPG">
        </div>
    </div>
<section class="pickedForYou">
    <h3 class="titulares">Picked for you</h3>
    <div class="articulos">
        <article>
            <div>
            <img width="200" src="images/camiseta1.jpeg">
        </div>
        <div class="rating">
            <img width="70" src="images/rating-stars.png">
        </div>
            <div class="descripcion">
                <p class="equipo">JUVENTUS 21/22 HOME JERSEY</p>
                <p class="precio">$89.99</p>
            </div>
        </article>
        <article>
            <div>
            <img width="200" src="images/camiseta2.jpeg">
        </div>
        <div class="rating">
            <img width="70" src="images/rating-stars.png">
        </div>
            <div class="descripcion">
                <p class="equipo">INTER MILAN 21/22 HOME JERSEY</p>
                <p class="precio">$89.99</p>
            </div>
        </article>
        
        <article>
            <a href="/product">
            <div>
            <img width="200" src="images/camiseta3.jpeg">
        </div>
        <div class="rating">
            <img width="70" src="images/rating-stars.png">
        </div>
            <div class="descripcion">
                <p class="equipo">AC MILAN 21/22 HOME JERSEY</p>
                <p class="precio">$89.99</p>
            </div>
        </a>
        </article>
        
        <article>
            <div>
            <img width="200" src="images/Camiseta4.jpeg">
        </div>
        <div class="rating">
            <img width="70" src="images/rating-stars.png">
        </div>
            <div class="descripcion">
                <p class="equipo">MANCHESTER UNITED 21/22 SECOND JERSEY</p>
                <p class="precio">$89.99</p>
            </div>
        </article>
    </div>
</section>
<section class="mostSold">
    <h3 class="titulares">Most Sold</h3>
    <div class="articulos">
        <article>
            <div>
            <img width="200" src="images/camiseta5.jpeg">
        </div>
        <div class="rating">
            <img width="70" src="images/rating-stars.png">
        </div>
            <div class="descripcion">
                <p class="equipo">ITALY EURO 20/21 HOME JERSEY</p>
                <p class="precio">$89.99</p>
            </div>
        </article>
        <article>
            <div>
            <img width="200" src="images/camiseta6.jpeg">
        </div>
        <div class="rating">
            <img width="70" src="images/rating-stars.png">
        </div>
            <div class="descripcion">
                <p class="equipo">ARSENAL TRAINING JERSEY 21/22</p>
                <p class="precio">$89.99</p>
            </div>
        </article>
        <article>
            <div>
            <img width="200" src="images/camiseta7.jpeg">
        </div>
        <div class="rating">
            <img width="70" src="images/rating-stars.png">
        </div>
            <div class="descripcion">
                <p class="equipo">ARSENAL 21/22 AUTHENTIC HOME JERSEY</p>
                <p class="precio">$89.99</p>
            </div>
        </article>
        <article>
            <div>
            <img width="200" src="images/Camiseta8.jpeg">
        </div>
        <div class="rating">
            <img width="70" src="images/rating-stars.png">
        </div>
            <div class="descripcion">
                <p class="equipo">MANCHESTER UNITED 21/22 THIRD JERSEY</p>
                <p class="precio">$89.99</p>
            </div>
        </article>
    </div>
</section>

</main>

<!-- Footer -->
<%- include('./partials/footer.ejs') %>




</body>
</html>

