<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs',{titulo:"Agregar Producto", stylesFile:"styles.css"}) %>
  <link href="/css/productForm v2.css" rel="stylesheet">
<body>
  <!-- Header -->
  <%- include('./partials/header.ejs') %>
    
    
  <!-- Profile -->
  <main>

    <div class="main-container">

      <h2>
        <span>
          Detalles
        </span>
      </h2>

      <div class="listGroup">
        <h2>
          Required
        </h2>
        <p>
          Complete la informacion solicitada
        </p>
        <div class="grid">
          <div class="grid-Cell">
            <div class="grid-cell-wrapper">
              <div class="listInLineSelect">
                <div class="listInLineSelectBox">
                  
                </div>

              </div>
            </div>

          </div>

        </div>
      </div>

    </div>

</main>

<!-- Footer -->
<%- include('./partials/footer.ejs') %>

</body>

</html>