<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs',{titulo:"Agregar Producto", stylesFile:"styles.css"}) %>
  <link href="/css/productForm v2.css" rel="stylesheet">
<body>
  <!-- Header -->
  <%- include('./partials/header v2.ejs') %>
    
    
  <!-- Main section -->
  <main>

    <form action="/productSearch" enctype="multipart/form-data" method="POST">
      <!-- Title -------------------------------------------------------------------------->
      <div class="title">
        <h2>
          <span>
            Formulario de creación de producto
          </span>
        </h2>
      </div>

      <!-- Name and Description ----------------------------------------------------------->
      <div class="section-container section-description">

        <div class="listGroup">
          <div class="listGroupBox" id="page_wrapper_attributes">
            <h2>
              Item description
            </h2>
            <p>
              Buyers need these details
            </p>
            
            <div class="grid" id="page_wrapper_grid">

              <!-- Nombre ------------------------------------------------>
              <div class="grid_cell">
                <div class="grid_cell_wrapper">
                  <div class="listInlineSelect inputField">
                    <div class="listInlineSelect__selectBox">
                      <div class="listInlineSelect__selectBoxLabelWrapper">
                        <div class="inputField__label">
                          <label for="name" class="form-label">
                            <span>Nombre</span>
                          </label>
                          
                        </div>
                      </div>
                      <div class="listInlineSelect__selectBox-activeRegion">
                        <input type="text" id="name" name="name" placeholder="Ej: Remera Juventus" class="form-input" >
                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Categoria ------------------------------------------------>
              <div class="grid_cell">
                <div class="grid_cell_wrapper">
                  <div class="listInlineSelect inputField">
                    <div class="listInlineSelect__selectBox">
                      <div class="listInlineSelect__selectBoxLabelWrapper">
                        <div class="inputField__label">
                          <label for="description" class="form-label">
                            <span>Talles</span>
                          </label>
                          
                          

                        </div>
                      </div>
                      <div class="listInlineSelect__selectBox-activeRegion">
                        
                        <select id="category" name="category" class="form-input">
                          
                            <option value="Jersey" selected>Remera</Option>
                            <option value="Shoes">Botines</Option>
                            <option value="Ball">Balon</Option>
                            <option value="Others">Otros</Option>
                          
                        </select> 
                        
                       

                      </div>
                    </div>
                  </div>
                </div>
              </div>


              <!-- Marca ------------------------------------------------->
              <div class="grid_cell">
                <div class="grid_cell_wrapper">
                  <div class="listInlineSelect inputField">
                    <div class="listInlineSelect__selectBox">
                      <div class="listInlineSelect__selectBoxLabelWrapper">
                        <div class="inputField__label">
                          <label for="brand" class="form-label">
                            <span>Marca</span>
                          </label>
                          
                        </div>
                      </div>
                      <div class="listInlineSelect__selectBox-activeRegion">
                        <select id="brand" name="brand" class="form-input">
                          <% brands.forEach(brand){ %>
                            <option value=<% brand.id %>  ><% brand.name_brand %></option>
                          <% } %>
                        </select> 
        
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Descripción ------------------------------------------->
              <div class="grid_cell">
                <div class="grid_cell_wrapper">
                  <div class="listInlineSelect inputField">
                    <div class="listInlineSelect__selectBox">
                      <div class="listInlineSelect__selectBoxLabelWrapper">
                        <div class="inputField__label">
                          <label for="description" class="form-label">
                            <span>Descripción</span>
                          </label>
                          
                        </div>
                      </div>
                      <div class="listInlineSelect__selectBox-activeRegion">
                        <textarea type="text" id="description" name="description" class="form-input" ></textarea>
                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>


                                    
              <!-- Año Correspondiente ------------------------------->
              <div class="grid_cell">
                <div class="grid_cell_wrapper">
                  <div class="listInlineSelect inputField">
                    <div class="listInlineSelect__selectBox">
                      <div class="listInlineSelect__selectBoxLabelWrapper">
                        <div class="inputField__label">
                          <label for="caption" class="form-label">
                            <span>Año correspondiente</span>
                          </label>
                          

                        </div>
                      </div>
                      <div class="listInlineSelect__selectBox-activeRegion">
                        <input type="number" id="year" name="year" class="form-input" ></input>
                        
                      </div>                   
                    </div>
                  </div>
                </div>
              </div>

              <!-- Características del producto -------------------------->
              <div class="grid_cell">
                <div class="grid_cell_wrapper">
                  <div class="listInlineSelect inputField">
                    <div class="listInlineSelect__selectBox">
                      <div class="listInlineSelect__selectBoxLabelWrapper">
                        <div class="inputField__label">
                          <label for="caption" class="form-label">
                            <span>Características Adicionales</span>
                          </label>
                          
                        </div>
                      </div>
                      <div class="listInlineSelect__selectBox-activeRegion">

                        <!-- Característica 1 ---------------->
                        <div class="caract-input">
                          <label>Estilo</label>
                          <div class="grid_cell">
                            <div class="grid_cell_wrapper">
                              <div class="listInlineSelect inputField">
                                <div class="listInlineSelect__selectBox">
                                  <div class="listInlineSelect__selectBoxLabelWrapper">
                                    <div class="inputField__label">
                                      <label for="description" class="form-label">
                                        <span>Talle</span>
                                      </label>
                                      
            
                                    </div>
                                  </div>
                                  <div class="listInlineSelect__selectBox-activeRegion">
                                    
                                    <select id="features_style" name="features_style" class="form-input">
                                      
                                        <option value="Long-sleeved" >Mangas Largas</Option>
                                        <option value="Short-sleeved" >Mangas Cortas</Option>
                                        <option value="Other" >Otros</Option>
                                      
                                    </select> 
                                    
                                   
            
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- Característica 2 ---------------->
                        <div class="caract-input">
                          <label>Genero</label>
                          <div class="grid_cell">
                            <div class="grid_cell_wrapper">
                              <div class="listInlineSelect inputField">
                                <div class="listInlineSelect__selectBox">
                                  <div class="listInlineSelect__selectBoxLabelWrapper">
                                    <div class="inputField__label">
                                      <label for="description" class="form-label">
                                        <span>Talle</span>
                                      </label>
                                      
            
                                    </div>
                                  </div>
                                  <div class="listInlineSelect__selectBox-activeRegion">
                                    
                                    <select id="features_gender" name="features_gender" class="form-input">
                                      
                                        <option value="Male" >Masculino</Option>
                                        <option value="Female" >Femenino</Option>
                                        <option value="Kids" >Infantiles</Option
                                        <option value="Alternative" >Alternativo</Option>
                                        
                                      
                                    </select> 
                                    
                                   
            
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <!-- Característica 3 ---------------->
                        <div class="caract-input">
                          <label>Uso</label>
                          <div class="grid_cell">
                            <div class="grid_cell_wrapper">
                              <div class="listInlineSelect inputField">
                                <div class="listInlineSelect__selectBox">
                                  <div class="listInlineSelect__selectBoxLabelWrapper">
                                    <div class="inputField__label">
                                      <label for="description" class="form-label">
                                        <span>Talle</span>
                                      </label>
                                      
            
                                    </div>
                                  </div>
                                  <div class="listInlineSelect__selectBox-activeRegion">
                                    
                                    <select id="features_use" name="features_use" class="form-input">
                                      
                                        <option value="Main" >Principal</Option>
                                        <option value="Alternative" >Alternativo</Option>
                                        <option value="Training" >Entrenamiento</Option
                                        <option value="Others" >Otros</Option>
                                        
                                      
                                    </select> 
                                    
                                   
            
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <!-- Característica 4 ---------------->
                        <div class="caract-input">
                          <label>Otras</label>
                          <textarea type="text" id="features_others" name="features_others" class="form-input-caract" placeholder="Otras caracteristicas del producto..." %>"></textarea>
                        </div>

                        
                        
                      </div>                   
                    </div>
                  </div>
                </div>
              </div>

            </div>


          </div>


        </div>

      </div>

      <!-- Pricing detail ----------------------------------------------------------------->
      <div class="section-container section-pricing inner-section">

        <div class="listGroup">
          <div class="listGroupBox" id="page_wrapper_attributes">
            <h2>
              Pricing
            </h2>
            <p>
              Informacion relevante sobre precios
            </p>
            
            <div class="grid" id="page_wrapper_grid">
              <!-- Precio ------------------------------------------------>
              <div class="grid_cell">
                <div class="grid_cell_wrapper">
                  <div class="listInlineSelect inputField">
                    <div class="listInlineSelect__selectBox">
                      <div class="listInlineSelect__selectBoxLabelWrapper">
                        <div class="inputField__label">
                          <label for="regularPrice" class="form-label">
                            <span>Precio</span>
                          </label>
                          
                        </div>
                      </div>
                      <div class="listInlineSelect__selectBox-activeRegion">
                        <span>$ </span><input type="text" id="regularPrice" name="regularPrice" placeholder="Ej: 5678" class="form-input" >
                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Precio con descuento --------------------------------->
              <div class="grid_cell">
                <div class="grid_cell_wrapper">
                  <div class="listInlineSelect inputField">
                    <div class="listInlineSelect__selectBox">
                      <div class="listInlineSelect__selectBoxLabelWrapper">
                        <div class="inputField__label">
                          <label for="specialPrice" class="form-label">
                            <span>Precio con descuento</span>
                          </label>
                          
                        </div>
                      </div>
                      <div class="listInlineSelect__selectBox-activeRegion">
                        
                        <span>$ </span><input type="text" id="specialPrice" name="specialPrice" placeholder="Ej: 5678" class="form-input" >
                        
                        

                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Devolucion -------------------------------------------->
              <div class="grid_cell">
                <div class="grid_cell_wrapper">
                  <div class="listInlineSelect inputField">
                    <div class="listInlineSelect__selectBox">
                      <div class="listInlineSelect__selectBoxLabelWrapper">
                        <div class="inputField__label">
                          <label for="devolucion" class="form-label">
                            <span>Permite devolución</span>
                          </label>
                          
                        </div>
                      </div>
                      <div class="listInlineSelect__selectBox-activeRegion">
                        
                        <input type="radio" id="devolucion" name="devolucion" value="1" class="check-input" ><span>Si</span>
                        <input type="radio" id="devolucion" name="devolucion" value="0" class="check-input left_50" ><span>No</span>

                      </div>                   
                    </div>
                  </div>
                </div>
              </div>

              <!-- Tiempo de entrega ------------------------------------->
              <div class="grid_cell">
                <div class="grid_cell_wrapper">
                  <div class="listInlineSelect inputField">
                    <div class="listInlineSelect__selectBox">
                      <div class="listInlineSelect__selectBoxLabelWrapper">
                        <div class="inputField__label">
                          <label for="tiempoEntrega" class="form-label">
                            <span>Tiempo de Entrega</span>
                          </label>
                          
                        </div>
                      </div>
                      <div class="listInlineSelect__selectBox-activeRegion">
                        
                        

                        <select name="delivery_time"  class="form-input">
                          <option value="2hs" >Dentro de las 2 hs Siguientes</option>
                          <option value="24hs" >En 24 horas</option>
                          <option value="48hs" >En 48 horas</option>
                          <option value="1Semana" >En una semana</option>
                          <option value="2Semanas" >En dos semanas</option>
                        </select>

                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>


          </div>


        </div>

      </div>

      <!-- Peso Paquete ------------------------------------------------>
      <div class="grid_cell">
        <div class="grid_cell_wrapper">
          <div class="listInlineSelect inputField">
            <div class="listInlineSelect__selectBox">
              <div class="listInlineSelect__selectBoxLabelWrapper">
                <div class="inputField__label">
                  <label for="regularPrice" class="form-label">
                    <span>Peso del paquete (en Kg)</span>
                  </label>
                  
                </div>
              </div>
              <div class="listInlineSelect__selectBox-activeRegion">
                <span>Kg </span><input type="text" id="weight_package" name="weight_package" placeholder="Ej: 1.25" class="form-input" >
                
              </div>
            </div>
          </div>
        </div>
      </div>
      

      <!-- Color Disponible ------------------------------------------------>
      <div class="grid_cell">
        <div class="grid_cell_wrapper">
          <div class="listInlineSelect inputField">
            <div class="listInlineSelect__selectBox">
              <div class="listInlineSelect__selectBoxLabelWrapper">
                <div class="inputField__label">
                  <label for="regularPrice" class="form-label">
                    <span>Color Disponible</span>
                  </label>
                  
                </div>
              </div>
              <div class="listInlineSelect__selectBox-activeRegion">
                <input type="text" id="color_available" name="color_available" placeholder="Rojo" class="form-input" >
                
              </div>
            </div>
          </div>
        </div>
      </div>

              <!-- Talle ------------------------------------------------>
              <div class="grid_cell">
                <div class="grid_cell_wrapper">
                  <div class="listInlineSelect inputField">
                    <div class="listInlineSelect__selectBox">
                      <div class="listInlineSelect__selectBoxLabelWrapper">
                        <div class="inputField__label">
                          <label for="description" class="form-label">
                            <span>Talle</span>
                          </label>
                          

                        </div>
                      </div>
                      <div class="listInlineSelect__selectBox-activeRegion">
                        
                        <select id="size_available" name="size_available" class="form-input">
                          
                            <option value="Small" >Small</Option>
                            <option value="Medium" >Medium</Option>
                            <option value="Large" >Large</Option>
                            <option value="Extra-Large" >Extra-Large</Option>
                          
                        </select> 
                        
                       

                      </div>
                    </div>
                  </div>
                </div>
              </div>


              
      <!-- Photo section ------------------------------------------------------------------>
      <div class="section-container section-pictures inner-section">

        <div class="listGroup">
          <div class="listGroupBox" id="page_wrapper_attributes">
            <h2>
              Editar fotos
            </h2>
            <p>
              La confianza del comprador aumentara cuando mas fotos haya
            </p>
            
            <div class="grid" id="page_wrapper_grid">
              <!-- Imagen principal -------------------------------------->
              <div class="grid_cell">
                <div class="grid_cell_wrapper">
                  <div class="listInlineSelect inputField h_align">
                    
                    <div class="listInlineSelect__selectBox">
                      <div class="listInlineSelect__selectBoxLabelWrapper">
                        <div class="inputField__label">
                          <label for="images-main" class="form-label">
                            <span>Imagen principal</span>
                          </label>
                          
                        </div>
                      </div>
                      <div class="listInlineSelect__selectBox-activeRegion">
                        <input type="file" id="images-main" name="images-main" placeholder="Imagen principal" class="form-input">
                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Imagen de frente -------------------------------------->
              <div class="grid_cell">
                <div class="grid_cell_wrapper">
                  <div class="listInlineSelect inputField h_align">
                    
                    <div class="listInlineSelect__selectBox">
                      <div class="listInlineSelect__selectBoxLabelWrapper">
                        <div class="inputField__label">
                          <label for="images-front" class="form-label">
                            <span>Imagen de frente</span>
                          </label>
                          
                        </div>
                      </div>
                      <div class="listInlineSelect__selectBox-activeRegion">
                        
                        <input type="file" id="images-front" name="images-front" placeholder="Imagen principal" class="form-input">
                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Imagen de dorso --------------------------------------->
              <div class="grid_cell">
                <div class="grid_cell_wrapper">
                  <div class="listInlineSelect inputField h_align">
                    
                    <div class="listInlineSelect__selectBox">
                      <div class="listInlineSelect__selectBoxLabelWrapper">
                        <div class="inputField__label">
                          <label for="images-back" class="form-label">
                            <span>Imagen de dorso</span>
                          </label>
                          

                        </div>
                      </div>
                      <div class="listInlineSelect__selectBox-activeRegion">
                        
                        <input type="file" id="images-back" name="images-back" placeholder="Imagen principal" class="form-input">
                        
                        

                      </div>                   
                    </div>
                  </div>
                </div>
              </div>

            </div>


          </div>


        </div>

      </div>

      <!-- Buttons section ---------------------------------------------------------------->
      <div class="listGroup" data-key="action-buttons">
        <div class="grid" data-key="action-buttons-box">
          <!-- Guardar cambios -------------------------------------->
          <div class="grid_cell" data-layout="6">
            <div class="grid_cell_wrapper">
              <button type="submit" class="post-button" data-type="PRIMARY">Guardar producto</button>
            </div>
          </div>
          <!-- Borrar cambios --------------------------------------->
          <div class="grid_cell" data-layout="3">
            <div class="grid_cell_wrapper">
              <button type="reset" class="post-button" data-type="DEFAULT">Borrar</button>
            </div>
          </div>
          
        </div>
      </div>

  </form>

</main>

<!-- Footer -->
<%- include('./partials/footer v2.ejs') %>

</body>

</html>