<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs',{titulo:"Agregar Producto",stylesFile:"profile.css"}) %>
<body>
  <!-- Header -->
  <%- include('./partials/header.ejs') %>
    
    
  <!-- Profile -->
  <main>
<form action="action_page.php" style="border:1px solid #ccc">
    <div class="container">
      <h1>Dar de alta un Producto</h1>
           <p>Por favor complete los datos del producto</p>
       <hr>
 
      <label for="name"><b>Nombre</b></label>
      <input type="text" placeholder="ej: JUVENTUS 21/22 HOME JERSEY BY ADIDAS" name="name" required>
  
      <label for="description"><b>Descripcion</b></label>
      <input type="text" placeholder="Breve descripcion" name="description" required>

      <label for="caracteristicas"><b>caracteristicas</b></label>
      <input type="text" placeholder="Caracteristicas particulares" name="caracteristicas" required>
  
      <label for="equipo"><b>Equipo local favorito</b></label>
      <input type="text" placeholder="Ingresar equipo" name="equipo" required>
  
      <label for="jugador"><b>Jugador favorito</b></label>
      <input type="text" placeholder="Ingresar jugador favorito" name="jugador" required>
  
      <label>
      <input type="checkbox" checked="checked" name="mayorde13" style="margin-bottom:15px"> Soy mayor de 13 años
      </label>
        
      <div class="clearfix">
        <button type="button" class="cancelbtn">Borrar</button>
        <button type="submit" class="signupbtn">Grabar</button>
      </div>
    </div>
  </form>

</main>

<!-- Footer -->
<%- include('./partials/footer.ejs') %>

</body>

</html>