<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->

  <!-- vinculacion a libreria de estilos-->
  <link rel="stylesheet" href="./css/normalize.css">
  <link rel="stylesheet" href="./css/profile.css">

  <!--viculacion a pagina con íconos-->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

  <title>Cazaka home - Perfil</title>
    
</head>
<body>

<form action="action_page.php" style="border:1px solid #ccc">
    <div class="container">
      <h1>Completar Perfil</h1>
           <p>Por favor complete sus datos.</p>
       <hr>

 
      <label for="direccion"><b>Direccion</b></label>
      <input type="text" placeholder="Ingresar direccion" name="direccion" required>
  
      <label for="pais"><b>Pais</b></label>
      <input type="text" placeholder="Ingresar pais" name="pais" required>

      <label for="seleccion"><b>Selección favorita</b></label>
      <input type="text" placeholder="Ingresar equipo" name="seleccion" required>
  
      <label for="equipo"><b>Equipo local favorito</b></label>
      <input type="text" placeholder="Ingresar equipo" name="equipo" required>
  
      <label for="jugador"><b>Jugador favorito</b></label>
      <input type="text" placeholder="Ingresar jugador favorito" name="jugador" required>
  
      <label>
      <input type="checkbox" checked="checked" name="mayorde13" style="margin-bottom:15px"> Soy mayor de 13 años
      </label>
        
      <div class="clearfix">
        <button type="button" class="cancelbtn">Borrar</button>
        <button type="submit" class="signupbtn">Grabar</button>
      </div>
    </div>
  </form>

</body>

</html>


