<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->

  <!-- vinculacion a libreria de estilos-->
  <link rel="stylesheet" href="./css/normalize.css">
  <link rel="stylesheet" href="./css/styles2.css">

  <!--viculacion a pagina con íconos-->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

  <title>Cazaka home - Crear usuario</title>
    
</head>
<body>

<form action="action_page.php" style="border:1px solid #ccc">
    <div class="container">
      <h1>Crear usuario</h1>
      <p>POr favor completar para crear una cuenta.</p>
      <hr>
  
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Ingresar Email" name="email" required>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Ingrese Password" name="psw" required>
  
      <label for="psw-repeat"><b>Repeat Password</b></label>
      <input type="password" placeholder="Repita Password" name="psw-repeat" required>
  
      <label>
        <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
      </label>
  
      <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
  
      <div class="clearfix">
        <button type="button" class="cancelbtn">Cancelar</button>
        <button type="submit" class="signupbtn">Crear cuenta</button>
      </div>
    </div>
  </form>

</body>

</html>


