body {
    font-size: 13px;
    line-height: 19px;
    color: #111;
    font-family: Arial,sans-serif;
}

label {
    display: block;
    padding-left: 2px;
    padding-bottom: 2px;
    font-weight: 700;
}

input {
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
    font-family: Arial,sans-serif;
    line-height: 19px;
    color: #111;
}

input[type=radio]{
    color: #111;
}

#center-section {
    width: 700px;
    margin: auto;
}

#main-section {
    margin-top: 10px;
}

.section-style {
    margin-bottom: 22px;
}

.section-style:last-child {
    margin-bottom: 0;
}

.main-container {
    width: 350px;
    margin: 0 auto;
}

.section-style form {
    margin-bottom: 14px;
}

.spacing-xl {
    margin-bottom: 26px!important;
}

.spacing-s {
    margin-bottom: 10px!important;
}

.spacing-m {
    margin-bottom: 15px!important;
}

.spacing-left {
    margin-left: 5px;
}

.box {
    display: block;
    border-radius: 4px;
    border: 1px #ddd solid;
    background-color: #fff;
}

.box .box-inner {
    border-radius: 4px;
    position: relative;
    padding: 14px 18px;
}

.spacing-base {
    margin-bottom: 14px!important;
}

.alert-inline {
    display: inline-block;
    border: none;
    vertical-align: middle;
    background-color: transparent;
}

.alert-inline .alert-container {
    padding-left: 16px;
    color: #2b2b2b;
}

.alert-inline .alert-container {
    padding: 0;
}

.alert-inline .alert-container .alert-content {
    margin-bottom: 0;
    text-align: left;
    font-size: 12px;
    line-height: 15px;
}

.row {
    width: 100%;
}

#main-section .input-text, #main-section input[type=text] {
    background-color: #fff;
    height: 31px;
    padding: 3px 7px;
    line-height: normal;
    border: 1px solid #a6a6a6;
    border-top-color: #949494;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgb(255 255 255 / 50%), 0 1px 0 rgb(0 0 0 / 7%) inset;
    outline: 0;
    width: 100%;
}

.button-full {
    width: 100%!important;
}

.button-primary {
    background: #f0c14b;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}

.button {
    background: #e7e9ec;
    border-radius: 3px;
    border-color: #adb1b8 #a2a6ac #8d9096;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    padding: 0;
    text-align: center;
    text-decoration: none!important;
    vertical-align: middle;
}

.button-inner {
    display: block;
    position: relative;
    overflow: hidden;
    height: 29px;
    box-shadow: 0 1px 0 rgb(255 255 255 / 60%) inset;
    border-radius: 2px;
}

.button-primary .button-inner {
    box-shadow: 0 1px 0 rgb(255 255 255 / 40%) inset;
    background: #f3d078;
}

.button-input {
    position: absolute;
    background-color: transparent;
    color: transparent;
    border: 0;
    cursor: pointer;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    opacity: .01;
    outline: 0;
    overflow: visible;
    z-index: 20;
}

.button-text {
    background-color: transparent;
    border: 0;
    display: block;
    font-family: Arial,sans-serif;
    font-size: 13px;
    line-height: 29px;
    margin: 0;
    outline: 0;
    padding: 0 10px 0 11px;
    text-align: center;
    white-space: nowrap;
}

.button-primary .button-text {
    color: #111;
}

.listInlineSelect__selectBox .inputField__label>label {
    display: inline;
    margin-left: 10px;
}

.listGroup label {
    font-size: 14px;
    font-weight: 400;
}

.listInlineSelect__selectBox-activeRegion {
    display: block;
    position: relative;
    margin-left: 10px;
}

.inputField button {
    margin: 4px 0;
    display: block;
}

.listInlineSelect__selectBox button {
    text-align: left;
    background: url(images/arrow_down.svg) right 12px bottom 50% no-repeat #fff;
    background-size: 8px 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    color: #555;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 0 32px 0 16px;
    transition: border-color .5s;
    width: 100%;
    height: 36px;
    overflow: hidden;
}

.listInlineSelect__selectBox button>span {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: flex;
    text-align: left;
    line-height: 24px;
    width: 100%;
}

.button-primary:hover .button-inner {
    background: #f1c860;
}

.division-container {
    padding: 0px 10px;
    margin-bottom: 10px;
}

.division-line {
    border-top: 1px solid #dadce0;
}

.grid_cell {
    position: relative;
    display: flex;
    flex: 0 0 auto;
    min-width: 0;
    justify-content: center;
    width: calc(6 * 100% / 12);
    align-items: flex-start;
    box-sizing: border-box;
}

.grid_cell_wrapper {
    margin: 10px;
    flex: 1 1 100%;
    min-width: 0;
}

.listInlineSelect.inputField {
    max-width: 280px;
}

.h_align {
    display: flex;
    align-items: center;
}