* {
    font-family: Arial,Helvetica,sans-serif;
}

.left_25 {
    margin-left: 25px;
}

.left_50 {
    margin-left: 50px;
}


body {
    font-family: Arial,Helvetica,sans-serif;
    font-size: small;
    margin-top: 0;
    color: #333;
    background: #f0eeec;
    line-height: 1;
}

.title {
    margin: 0 0 8px 0;
    max-width: 935px;    
    padding: 20px 30px 0px 30px;
    box-sizing: border-box;
    margin: auto;
    position: relative;
}

.title h2 { 
    font-size: 20px;
    font-weight: 300;
}

.section-container {
    max-width: 935px;    
    padding: 26px 30px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    background-color: #fff;
    margin: auto;
    position: relative;
    /*border-top: 0;*/
}

.listGroup {
    border: 1px solid #ddd;
    border-radius: 3px 3px 0 0;
    padding: 20px;
}

.listGroup h2 {
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 8px 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.listGroup h2+p {
    margin-bottom: 0;
    margin: 8px 0;
}

.grid {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
}

.grid_cell {
    position: relative;
    display: flex;
    flex: 0 0 auto;
    min-width: 0;
    justify-content: center;
    width: calc(6 * 100% / 12);
    align-items: flex-start;
    box-sizing: border-box;
}

.grid_cell[data-layout="6"]{
    width: calc(6 * 100% / 12);
}

.grid_cell[data-layout="3"]{
    width: calc(3 * 100% / 12);
}

.grid_cell_wrapper {
    margin: 10px;
    flex: 1 1 100%;
    min-width: 0;
}

.listInlineSelect {
    position: relative;
}

.listInlineSelect.inputField {
    max-width: 280px;
}

.listInlineSelect__selectBoxLabelWrapper {
    display: flex;
}

.inputField__label {
    flex: 1 1 auto;
    min-width: 0;
    font-size: 16px;
    margin: 0;
    padding: 4px 0;
    display: inline-block;
    line-height: 18px;
    font-weight: 300;
}

.listInlineSelect__selectBox .inputField__label>label {
    display: inline;
}

.listGroup label {
    font-size: 14px;
    font-weight: 400;
}

.listInlineSelect__selectBox--activeRegion {
    display: block;
    position: relative;
}

.inputField button {
    margin: 4px 0;
    display: block;
}

.listInlineSelect__selectBox button {
    text-align: left;
    background: url(images/arrow_down.svg) right 12px bottom 50% no-repeat #fff;
    background-size: 8px 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    color: #555;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 0 32px 0 16px;
    transition: border-color .5s;
    width: 100%;
    height: 36px;
    overflow: hidden;
}

.listInlineSelect__selectBox button>span {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: flex;
    text-align: left;
    line-height: 24px;
    width: 100%;
}

button.listInlineSelect__selectBox-help {
    display: inline-block;
    vertical-align: middle;
    background: transparent url(images/information_icon.svg) no-repeat;
    width: 14px;
    height: 14px;
    margin: 1px 0 1px 5px;
    background-size: 14px;
    cursor: pointer;
    border: 0;
    overflow: hidden;
    text-indent: -999px;
}

.listInlineSelect__selectBox-valueText {
    flex: 0 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
}

.form-input {
    width: 100%;
}

.checkboxWrapper {
    padding: 0 6px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.inline-item {
    display: inline-block;
}

.check_box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    margin-bottom: 0.25em;
    width: 50%;
}

.check_box label {
    margin-left: 10px;
}

.section-container {
    margin-top: 20px;
}   

.check-input + span {
    margin-left: 5px;
}

[data-key="action-buttons"] {
    max-width: 935px;
    margin: 0px auto 0;
}

.listGroup[data-key="action-buttons"]{
    border: 0;
}

button[data-type] {
    font-size: 14px;
    height: 40px;
    padding: 0 30px;
    border: 1px solid #ccc;
    transition: background-color .5s, border-color .5s;
    border-radius: 3px;
    width: 100%;
    cursor: pointer;
}

button[data-type="PRIMARY"] {
    background-color: #0654ba;
    border-color: #0654ba;
    color: #fff;
}

button[data-type="DEFAULT"] {
    background-color: #fff;
    border-color: #ccc;
    color: #0654ba;
}

button[data-type]:focus {
    outline: 1px dotted #767676;
}

button[data-type="PRIMARY"]:hover, button[data-type="PRIMARY"]:focus {
    background-color: #003a81;
}

button[data-type="DEFAULT"]:hover, button[data-type="DEFAULT"]:focus {
    border-color: #999;
}
