* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Roboto;
    
}

header {
    background-color: black;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 8px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}

.main-header-top-bar {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.Covid-Info{
    display: flex;
    flex-direction: row;
    width: 30%;
    padding: 2px;
}

.Covid-Info img{
    display: flex;
    flex-direction: row;
    width: 35%;
    max-width: 25px;
    padding: 2px;
}

.Covid-Info p{
    font-size: 8px;
}

.main-header .search-results {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    font-size: 14px;
    width: 45%;
    border: none;
    border-radius: 3px;
    color: #666;
    height: 40px;
    align-self: center;
    padding-bottom: 5px;
    padding-right: 10px;
    margin: 0px;
    }

.main-header .searchbar{
        
        padding: 0px;
    }

.main-header .searchbar input{
    width: 95%;
    
}

.main-header .submit{
        
    font-size: 14px;
    border: none;
    border-radius: 3px;
    color: #666;
    height: 40px;
    align-self: center;
    padding-bottom: 5px;
    padding-right: 10px;
    margin: 0px;
    padding: 0px;
    
}

/* The container <div> - needed to position the dropdown content */
.dropdown-banderas {
    position: relative;
    display: inline-block;
    width: 10%;
    align-self: center;
  }

.dropntn {
    display: block;
    width: 24px;
    height: 20px;
}

  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  
  /* Links inside the dropdown */
  .dropdown-banderas img {
    width: 20px;
    display: block;
    padding-top: 0px;
    padding-bottom: 2px;
  }
  
  
  /* Show the dropdown menu on hover */
  .dropdown-banderas:hover .dropdown-content {display: block;}
  


.upper-top-menu{
    display: none;
    
}



.main-header-bottom-bar{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: white;
    }

.main-header-bottom-bar img {
    max-width: 90px;
    max-height: 40px;
}

.nav-logo img {
    max-width: 90px;
    max-height: 40px;
}

.burger-menu {
    width: 10%;
    background-color: #34568B;
    border-radius: 5px;
}


.main-menu{
    display: none;
}

.main-menu-dropdown{
    display: none;
}

.lower-right-menu{
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5px;
    width: 40%;
}

.lower-right-menu ul{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:flex-end;
    padding-right: 0px;
    
}

.main-header-bottom-bar .fa-heart {
    width: 30%;
    align-content: center;
    font-size: 15px;
    padding: 0px 10px;
    color: #1b1c20;
}

.main-header-bottom-bar .fa-shopping-cart {     /* originalmente escrito por TH: .fa-shopping-cart*/
    width: 30%;
    align-content: center;
    font-size: 15px;
    padding: 0px 10px;
    color: #1b1c20;
}


footer {
    background-color:#111;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 8px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 2.25px;
    text-align: left;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    
    }

footer li a {
    color: white;
}

.main-footer-top-bar {
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
    padding: 5px 20px;
}
.barra-h-blanca{
    display: block;
    width: 95%;
    border-bottom: 3px white solid;
    margin:auto;
}

.Logo-vertical-f-negro {
    width:38%;
}

.Menu-Footer-resumidos{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    padding: 20px;
}

.Informacion-Util{
    display: none;
}

.Ayuda{
    display: none;
}

.Conocenos{
    display: none;
}

.Titulo-Menu {
    font-weight: bold;
}

.main-footer-bottom-bar {
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-top: white;
}

.redes-sociales ul{
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    size: 14px;
}

.redes-sociales ul li{
    padding: 1px;
    color: white;
}

.COPYRIGHT {
    font-size: 5px;
    text-align: right;
    padding-left: 1px;

}


@media (min-width: 510px){

    

    .Covid-Info{ 
        width: 20%;
    }

    .main-header .search-results{
        width: 30%;
    }
    
    .dropdown-banderas{
        width: 5%;
    }

    .upper-top-menu{
        display: flex;
        flex-direction: row;
        width: 35%;
        justify-content: space-around;
        }
    
    .upper-top-menu ul{
        display: flex;
        flex-direction: row;
        justify-content:center;
        align-items: center;
        color: white;
    }
    
    .upper-top-menu ul li a{
        text-decoration: none;
        font-size: 9px;
        color: white;
        justify-content: space-between;
        padding: 0px 5px;
    }

    .Logo-vertical-f-negro {
        width:18%;
    }

    .Titulo-Menu {
        text-decoration: underline;
    }

    .main-header-bottom-bar img {
        
        
        width: 150px;
        }
    .burger-menu {
        display: none;
    }
    
    .main-menu{
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        align-items: center;
        width: 65%;
        padding: 0px 10px;
    }
    
    .lower-right-menu{
        display: flex;
        flex-direction: row;
        justify-content:flex-end;
        align-items: center;
        width: 15%;
        padding: 0px 10px;
    }

    .lower-right-menu ul{
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        align-items: center;
    
    }


    .main-header-bottom-bar{
        size: 12px;
        background-color: white;
        color: #1b1c20;
        display: flex;
        flex-direction:row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .main-header-bottom-bar img{
        width: 20%;
    }

   .main-menu{
        width: 60%;
        color: #1b1c20;
    }

    .main-menu ul{
        display: flex;
        flex-direction:row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .main-menu a{
        
        color: #1b1c20;
    }

    .lower-right-menu{
        width: 22%;
    }

    .lower-right-menu ul{
        display: flex;
        flex-direction:row;
        flex-wrap:nowrap;
        justify-content: space-between;
        align-items: center;
        
        
    }

    footer{
        font-size: 5px;
    }
    .Menu-Footer-resumidos {
        display: none;
    }

    .Informacion-Util{
        
        display: flex;
        flex-direction:column;
        justify-content: left;
        align-items:flex-start;
    }
    
    .Ayuda{
        
        display: flex;
        flex-direction:column;
        justify-content: left;
        align-items: flex-start;
    }
    
    .Conocenos{
        
        display: flex;
        flex-direction:column;
        justify-content: left;
        align-items: flex-start;
    }

    .redes-sociales{
        padding: 15px;
    }

    .redes-sociales a{
        font-size: 10px;
        padding: 7px;
    }

    .COPYRIGHT{
        size: 8px;
        width: 65%;
        text-align: right;
        
    }

    
}

@media (min-width: 675px){

    .Logo-vertical-f-negro {
        width:12%;
    }

    .upper-top-menu ul li a{
        
        font-size: 12px;
        
    }

    .main-menu li{
        font-size: 11px;
        padding-right: 5px;
    }

    footer{
        font-size: 10px;
    }

    .Informacion-Util a{
        size: 12px;
    }
    
    .Ayuda a{
        size: 12px;
        
    }
    
    .Conocenos a{
        size: 12px;
        
    }

    .redes-sociales a{
        font-size: 14px;
        padding: 5px;
    }

}



@media (min-width: 1025px){

    .COPYRIGHT{
        size: 10px;
    }


}