* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

main {
    background-color: white;
    color: black;
    font-family: Roboto;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;

}

.Cart {
    text-align: right;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 45%;
    padding: 30px 10px;
    padding-left: 30px;
    border-left: ;

}

.Titles-Cart {
    text-align: right;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 2px;
    margin-bottom: 2px;
    border-top-color: gray;
    border-bottom-color: gray;
    width: 100%;
}

.items-title {
    width: 60%;
    text-align: left;
}

.precio-title {
    width: 20%;
    text-align: center;
}

.cantidad-title {
    width: 20%;
    text-align: center;
}


.Cart-Content {
    text-align: right;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.Cart-Content img {
    width: 20%;
    padding: 0px 5px;
}

.detalle-producto {
    text-align: right;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 40%;

}

.precio-producto {
    width: 20%;
    text-align: center;
    padding: 0px 5px;
}

.dropdown-unidades {
    width: 20%;
    align-content: center;
}



.subtotal {
    text-align: right;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:flex-end;
    align-items: center;
}

.Summary {
    text-align: right;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    background-color: gray;
    width: 45%;
    padding: 30px 10px;
}

.subtotal {
    text-align: right;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.shipping {
    text-align: right;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.taxes {
    text-align: right;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.total-a-pagar {
    text-align: right;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:end;
}

.submit-purchase {
    display:block;
    text-align: center;
    font-size: 18px;
    width: 40%;

}

@media (min-width: 481px){
   
}

@media (min-width: 769px){


}

@media (min-width: 1025px){

