<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('./partials/head.ejs',{titulo:"Signup",stylesFile:"styles2.css"}) %>
<body>
    <!-- Header -->
    <%- include('./partials/header v2.ejs') %>
    
    
    <!-- Signin -->

<main>

<form action="action_page.php" style="border:1px solid #ccc">
    <div class="container">
      <h1>Crear usuario</h1>
      <p>POr favor completar para crear una cuenta.</p>
      <hr>
  
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Ingresar Email" name="email" required>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Ingrese Password" name="psw" required>
  
      <label for="psw-repeat"><b>Repeat Password</b></label>
      <input type="password" placeholder="Repita Password" name="psw-repeat" required>
  
      <label>
        <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
      </label>
  
      <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
  
      <div class="clearfix">
        <button type="button" class="cancelbtn">Cancelar</button>
        <button type="submit" class="signupbtn">Crear cuenta</button>
      </div>
    </div>
  </form>

</main>

    <!-- Footer -->
    <%- include('./partials/footer v2.ejs') %>

</body>

</html>


